<h1>Random student generator</h1>


<%= render 'class_select'%>


<div id="student-name-display"><span id="student-name-span"></span><span class="b-day-span"></span></div>

<button class="btn-red">Random Student</button>
<%=javascript_pack_tag "pages/random_student"%>