<div class="pages-top">
<h1>Random Group Maker</h1>
<div class="select-controls">
<%= render 'class_select' %>
<select id="student-number-select">
<option value="" disabled selected hidden>Minimum students per group</option></select>
<button class="btn-red">Make groups</button>
</div>
</div>

<div id="group-display"></div>

<%= javascript_pack_tag 'pages/random_group'%>