// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-container input {
  margin: 8px;
}
